body {
	font-family: 微軟正黑體;
	/*background-color: #111111 ;*/
}

@media screen and (min-width: 1200px) {
	.container{
		width: 100%;
		max-width: 1100px;
	}

	.node {
	  stroke: #fff;
	  stroke-width: 1.5px;
	}

	.link {
	  /*stroke: #999;*/
	  stroke-opacity: .6;
	}

	.chart-block{
		float: left;
		width: 16%;
	}

	.d3-tip{
		padding: 12px;
		background: #fff;
		z-index: 20;
		border: 1px solid black;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px){

}

@media screen and (max-width: 767px) {

}